/** -- OBJECT-ORIENTED CSS: styles/classes that are built for specific tags/situations -- */

/* - buttons - */

/* button styling (with css-variable usage) tied to an 'a' or 'button' tag */
a.btn, button.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--color-button-background-dark, blue);
  color: var(--color-button-text, white);
  border: 2px solid var(--color-button-text, white);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
a.btn:hover, button.btn:hover { 
  background-color: var(--color-button-background-dark, darkblue);
  cursor: pointer;
}
a.btn.btn-secondary, button.btn.btn-secondary { 
  color: var(--color-button-background-dark, darkblue); 
  background-color: var(--color-button-text, white);
  border-color: var(--color-button-background-dark);
}


/* - Secondary Menu:  accentuates/groups a block of content - */

/* .secondary-menu styling tied to a 'div' or 'section' */
div.secondary-menu, section.secondary-menu {
  background-color: var(--color-secondary-background-light, gainsboro);
  border: 1px solid var(--color-secondary-background-dark, grey);
  padding: 10px;
}

/* - List Helpers - */

/* lists without bullets and the default spacing */
ul.inline-list, ol.inline-list { display: inline; padding-right: 5px;} 
ul.no-bullet > li, ol.no-bullet > li { list-style:none !important; padding-left: 0em; }
