/* -- GENERIC STYLES that highlight core aspects of the page -- */

/* site header and footer */
header, footer { 
  background-color: var(--color-primary-background, black); 
  color: var(--color-primary-text, white);
  text-align: center;
  padding: 10px;
}
header a, footer a { color: var(--color-primary-text, whitesmoke); }
header a:hover, footer a:hover { color: var(--color-primary-text-light, white); font-weight: bold; }

/* site banner */
div.banner { margin-bottom: 10px; }
div.sub-footer { margin-top: 10px; }
div.banner, div.sub-footer { 
  background-color: var(--color-secondary-background, #eee); 
  color: var(--color-secondary-text, black);
  border: 1px solid var(--color-secondary-background-dark, darkgrey);
  text-align: center; 
  padding: 10px;
}

/* main body styling */
main { width: 100%; }
main > section {
  margin: 15px;
  padding: 15px;
  background-color: #ddd; 
  border: 1px solid #aaa;
}
article { padding-left: 15px; padding-right: 15px; }

/* sidebar */
.sidebar { display: flex; }

/* prevent a list from having bulleted styling */
.secondary-menu > ul, ul.no-bullet { list-style: none; }
.secondary-menu > ul li, .secondary-menu > ol li { margin-left: 5px; margin-right: 5px; }
.secondary-menu > ul { 
  display: flex;
  text-align: center;
  margin-left: auto;
}

/* noscript disclaimer */
noscript { 
  margin: var(--padding-xlarge, 20px); 
  padding: var(--padding-medium, 10px); 
}