/* demo purposes */
header, footer { 
  color: white;
  background-color: green; 
  padding: 10px;
}


/* site banner */
div.banner { 
  background-color: lightgreen; 
  text-align: center; 
  padding: 10px;
}

.btn {
  padding: 10px;
  background-color: lightgreen;
  color: black;
}

/* insert css variables exceptions here */
body { }